<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds" debug="true">
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</encoder>
	</appender>
	
	<appender name="applog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${APP_LOG_HOME}/sdp-kanal.log</File>
		<encoder>
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>20</maxIndex>
			<FileNamePattern>${APP_LOG_HOME}/sdp-kanal.%i.log</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	
	<!-- Størrelsen på meldingen er begrecpnset, så det er lurt å begrense exceptions og andre ting som kan bli langt. %rEx gir caused by først.
	Exceptions må inkluderes i meldingen for å få det med på samme melding. -->
	<appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
	
		<syslogHost>localhost</syslogHost>
		<!-- facility er en syslogspesifikk kategoriering. For applikasjonslogger skal vi bruke LOCAL1 -->
		<facility>LOCAL1</facility>
		<!-- suffixpattern er formateringen av selve meldingen som sendes til syslog. 
			I tillegg så legges det på timestamp, severity og hostnavn. Det første ordet 
			i suffixPattern tolkes av rsyslog som programmet som sendte loggmeldingen. 
			Denne kan feks være applikasjonsnavnet eller noe annet -->
		<suffixPattern>sdpkanal %mdc %logger{30} %m %n%rEx</suffixPattern>
		<!-- throwableExluded skal alltid være true, ellers kommer stacktrace som egne meldinger. -->
		<throwableExcluded>true</throwableExcluded>
	</appender>
	
	<logger name="no.nav" level="INFO"/>
	<logger name="no.nav.kanal.camel" level="INFO"/>
	<root level="INFO">
		<!-- <appender-ref ref="STDOUT" />  -->
		<appender-ref ref="applog" />
		<appender-ref ref="SYSLOG" />
	</root>
</configuration>