<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util.xsd	
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/jee
	http://www.springframework.org/schema/jee/spring-jee.xsd
	http://camel.apache.org/schema/spring
	http://camel.apache.org/schema/spring/camel-spring.xsd">

	<!-- Enable use of properties in context -->
	<context:property-placeholder location="classpath:sdpkanal.properties"/>
	
	<!-- Enabler routemetrics som kan vises i hawtio -->
	<!-- Spesifiserer metricsRegistry for å få metrics som logges fra context til å dele registry med det som kommer fra MetricsRoutePolicyFactory -->
	<bean id="metricsRoutePolicyFactory" class="org.apache.camel.component.metrics.routepolicy.MetricsRoutePolicyFactory">
		<property name="metricsRegistry" ref="metricsRegistry"/>
	</bean>
	<bean id="metricsRegistry" class="com.codahale.metrics.MetricRegistry"/>
	
	<!-- Custom metrics for SLAM -->
	<bean id="sdpkanalMetrics" class="no.nav.kanal.metrics.Metrics"/>
	
	<!-- LEGAL ARCHIVE for outgoing messages -->
	<bean id="legalArchiveMelding" class="no.nav.kanal.log.LegalArchiveStub" />
	
	<!-- LEGAL ARCHIVE for kvitteringer -->
	<bean id="legalArchiveKvittering" class="no.nav.kanal.log.LegalArchiveStub" />
    
    <bean id="jmstx" class="org.apache.camel.component.jms.JmsComponent">
    	<property name="configuration" ref="jmsConfig"/>
    </bean>

    <bean id="jmsConfig" class="org.apache.camel.component.jms.JmsConfiguration">
    	<property name="connectionFactory" ref="connectionFactory"/>
    	<!--<property name="transactionManager" ref="platformTransactionManager"/>-->
    	<property name="transacted" value="true"/>
    	<property name="transactionTimeout" value="1800"/>
    	<property name="concurrentConsumers" value="${no.nav.sdpkanal.mq.concurrentConsumers}"/>
    </bean>
 	
 	<!-- Finner enten elementet <digitalPostInfo> eller <fysiskPostInfo> i request-bodyen for å finne ut om meldingen er digital eller fysisk post -->
 	<bean id="findMessageType" class="no.nav.kanal.camel.FindMessageType">
 		<property name="legalArchive" ref="legalArchiveMelding"/>
 	</bean>
 	
	<!-- Oppretter dokumentpakke og legger til dokumenter -->
	<bean id="sendDigitalPostEnricher" class="no.nav.kanal.camel.SendDigitalPostEnricher">
		<property name="remoteDokumentsPathPrefix" value="${no.nav.kanal.dokument.path.prefix}"/>
		<property name="localDokumentsTempPath" value="${no.nav.kanal.dokument.tempPath}"/>
		<property name="legalArchive" ref="legalArchiveMelding"/>
	</bean>

	<!-- Komponent for EBMS push -->
	<bean id="flameEbmsPush" class="no.nav.kanal.camel.ebms.FlameEbmsPush">
		<property name="partProperties">
			<map>
				<entry key="mimetype" value="application/cms"/>
				<entry key="MimeType" value="application/cms"/>
				<entry key="Content" value="sdp:Dokumentpakke"/>
			</map>
		</property>
		<property name="mpcNormal" value="${ebms.mpc.normal}"/>
		<property name="mpcPrioritert" value="${ebms.mpc.prioritert}"/>
		<property name="legalArchive" ref="legalArchiveMelding"/>
		<property name="maxRetries" value="${ebms.push.maxRetries}"/>
		<property name="retryIntervalInSeconds" value="${ebms.push.retryIntervalInSeconds}"/>
		<property name="digipostEbms" ref="digipostEbms" />
	</bean>

	
	<!-- Logger til Juridisk logg at en utgående melding er lagt på BOQ -->
	<bean id="boqLoggerMelding" class="no.nav.kanal.camel.BOQLogger">
		<property name="legalArchive" ref="legalArchiveMelding"/>
	</bean>
	
	<!-- Logger til Juridisk logg at en kvittering er lagt på BOQ -->
	<bean id="boqLoggerKvittering" class="no.nav.kanal.camel.BOQLogger">
		<property name="legalArchive" ref="legalArchiveKvittering"/>
	</bean>
	
	<!-- Logger til Juridisk logg at en kvittering er lagt på kø -->
	<bean id="kvitteringLogger" class="no.nav.kanal.camel.KvitteringLogger">
		<property name="legalArchive" ref="legalArchiveKvittering"/>
	</bean>
	
	<!-- Validerer signatur i kvitteringsmeldinger -->
	<bean id="kvitteringValidator" class="no.nav.kanal.camel.KvitteringValidator">
		<property name="legalArchive" ref="legalArchiveKvittering"/>
	</bean>
	
	<!-- Sletter temp mappe ved feil og avslutning av meldingsrute -->
	<bean id="deleteTempDir" class="no.nav.kanal.camel.DeleteTempDirectory"/>
	
	<!-- Avbryter behandling når transaction timeout detekteres  -->
	<bean id="trantimeoutDetector" class="no.nav.kanal.camel.TransactionTimeoutDetector"/>
	
	<!-- Endrer shutdown timeout fra default=300 til 20 sekunder -->
	<bean id="shutdown" class="org.apache.camel.impl.DefaultShutdownStrategy">
		<property name="timeout" value="20"/>
	</bean>
	
	<camelContext id="sdpkanal" xmlns="http://camel.apache.org/schema/spring" allowUseOriginalMessage="true">
		<propertyPlaceholder id="properties" location="sdpkanal.properties" />
		<jmxAgent id="jmxAgent" mbeanObjectDomainName="org.apache.camel" usePlatformMBeanServer="true" />


		<endpoint id="ebmsPullNormal" uri="timer:ebmspullnormal?period=${ebms.pullinterval.normal}"/>
		<endpoint id="ebmsPullPrioritert" uri="timer:ebmspullprioritert?period=${ebms.pullinterval.prioritert}"/>

		<dataFormats>
			<jaxb id="sdpkanaljaxb" prettyPrint="true" contextPath="no.difi.begrep.sdp.schema_v10:no.nav.tjeneste.virksomhet.digitalpost.senddigitalpost.v1.meldinger:no.nav.tjeneste.virksomhet.digitalpost.senddigitalpost.v1:org.unece.cefact.namespaces.standardbusinessdocumentheader:org.w3._2000._09.xmldsig_"/>
		</dataFormats>

        <redeliveryPolicyProfile id="rpp" maximumRedeliveries="0" retryAttemptedLogLevel="WARN" redeliveryDelay="5000"  />

		<!-- Rute for å få lagt prioriterte meldinger på BOQ -->
		<route id="dlqMeldingPrioritert">
			<from uri="direct:dlqMeldingPrioritert"/>
			<log loggingLevel="ERROR" message="EXCEPTION: Log and send to DLQ" />
			<to uri="log:no.nav.kanal?level=ERROR&amp;showAll=true&amp;showCaughtException=true&amp;showStackTrace=true"/>
			<bean ref="boqLoggerMelding" id="boqLoggerMeldingPrioritert"/>
			<bean ref="deleteTempDir" id="deleteTempDirPrioritertBOQ"/>
			<bean ref="backoutReason"/>
			<to uri="ref:inputQueuePriorityBackout"/>
		</route>
		
		<!-- Rute for å få lagt standard meldinger på BOQ -->
		<route id="dlqMeldingStandard">
			<from uri="direct:dlqMeldingStandard"/>
			<log loggingLevel="ERROR" message="EXCEPTION: Log and send to DLQ" />
			<to uri="log:no.nav.kanal?level=ERROR&amp;showAll=true&amp;showCaughtException=true&amp;showStackTrace=true"/>
			<bean ref="boqLoggerMelding" id="boqLoggerMeldingStandard"/>
			<bean ref="deleteTempDir" id="deleteTempDirStandardBOQ"/>
			<bean ref="backoutReason"/>
			<to uri="ref:inputQueueNormalBackout"/>
		</route>
		
		<!-- Rute for å sende prioritert DigitalPost -->
		<route id="sendDigitalPostPrioritert">
			<from uri="ref:inputQueuePriority"/>
			<onException>
				<exception>java.lang.Exception</exception>
				<handled>
					<constant>true</constant>
				</handled>
				<to uri="direct:dlqMeldingPrioritert"/>
			</onException>
			<bean ref="xmlExtractor" />
			<bean ref="findMessageType" id="findMessageTypePrioritert"/>
			<bean ref="documentPackageCreator" />
			<!-- 			 <bean ref="trantimeoutDetector" id="trantimeoutDetector"/> -->
			<bean ref="flameEbmsPush" id="flameEbmsPushPrioritert"/>
		</route>
	</camelContext>

</beans>
