<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/jee
	http://www.springframework.org/schema/jee/spring-jee.xsd
	http://camel.apache.org/schema/spring
	http://camel.apache.org/schema/spring/camel-spring.xsd">

	
	<!-- Enable use of properties in context -->
	<context:property-placeholder location="classpath:src/test/resources/sdpkanal-test.properties"/>
	
	<bean id="legalArchiveMelding" class="no.nav.kanal.log.LegalArchiveLoggerMock">
		<property name="logCaller" value="JBOSS: SDP-kanal"/>
		<property name="logAction" value="urn:skatteetaten:fastsetting:innsamling:meldingsproduksjon:a-nav-inntekt-spoerring:soap:v1:hentInntektsmottakersInntekt"/>
		<property name="logServiceConsumer" value="urn:sdp:avsender"/>
		<property name="logServiceProducer" value="urn:sdp:meldingsformidler"/>
		<property name="logEndpoint" value="http://e26apvl028.test.local:9089/nav-emottak-archiver-web/services/archiver"/>
		<property name="logUsername" value="srvsdpgw_u"/>
		<property name="logPassword" value="dfwYokIJ83-suyq"/>
		<property name="maxRetries" value="4"/>
		<property name="retryIntervalInSeconds" value="1"/>
	</bean>
	
	<bean id="flameEbms" class="no.nav.kanal.camel.ebms.FlameEbms">
		<property name="ebmsEndpoint" value="http://localhost:16384/push"/>
		<property name="keyStoreLocation" value="src/test/resources/flame/certs"/>
		<property name="keyStorePassword" value="changeit"/>
		<property name="keyPassword" value="keypw123"/>
		<property name="licenseFile" value="src/test/resources/flame/navClientApi.lcn"/>		
		<property name="pmodePushDigitalConfigFile" value="src/test/resources/flame/as4push-nav-flame.pmode"/>
		<property name="pmodePullConfigFile" value="src/test/resources/flame/as4pull-nav-flame.pmode"/>
	</bean>
	
	<bean id="flameEbmsPush" class="no.nav.kanal.camel.ebms.FlameEbmsPush">
		<property name="flamefactory" ref="flameEbms"/>
		<property name="securityContext" value="src/test/resources/flame/sc.push-wts.xml"/>
		<property name="partProperties">
			<map>
				<entry key="mimetype" value="application/cms"/>
				<entry key="MimeType" value="application/cms"/>
				<entry key="Content" value="sdp:Dokumentpakke"/>
			</map>
		</property>
		<property name="ebmsFrom" value="${ebms.from}"/>		
		<property name="ebmsTo" value="${ebms.to}"/>
		<property name="mpcNormal" value="${ebms.mpc.normal}"/>
		<property name="mpcPrioritert" value="${ebms.mpc.prioritert}"/>
		<property name="legalArchive" ref="legalArchiveMelding"/>
		<property name="maxRetries" value="2"/>
		<property name="retryIntervalInSeconds" value="1"/>
	</bean>
	
	<!-- Finner soapaction i headeren for å finne ut om meldingen er digital eller fysisk post -->
 	<bean id="findMessageType" class="no.nav.kanal.camel.FindMessageType">
 		<property name="legalArchive" ref="legalArchiveMelding"/>
 	</bean>

	<camelContext xmlns="http://camel.apache.org/schema/spring" trace="false">
		<jmxAgent id="jmxAgent" mbeanObjectDomainName="no.nav.kanal" usePlatformMBeanServer="true" />
		
		<dataFormats>
			<jaxb id="sdpkanal" prettyPrint="true" contextPath="no.difi.begrep.sdp.schema_v10:no.nav.tjeneste.virksomhet.digitalpost.senddigitalpost.v1.meldinger:no.nav.tjeneste.virksomhet.digitalpost.senddigitalpost.v1:org.unece.cefact.namespaces.standardbusinessdocumentheader:org.w3._2000._09.xmldsig_"/>
		</dataFormats>
		
		<route id="testFlameEbmsSend">
			 <from uri="direct:start"/>
			 <setHeader headerName="DOKUMENTPAKKE">
				<constant>src/test/resources/cms_dokumentpakke</constant>
			</setHeader>
			<setHeader headerName="SIGNED_STANDARD_BUSINESS_DOCUMENT_FILE_PATH">
				<constant>src/test/resources/sdpRequest-test.xml</constant>
			</setHeader>
			 <to uri="log:no.nav.kanal?level=INFO&amp;showBody=true&amp;showHeaders=true"/>
			 <unmarshal ref="sdpkanal" />
			 <bean ref="findMessageType"/>
			 <to uri="log:no.nav.kanal?level=INFO&amp;showBody=true&amp;showHeaders=true"/>
			 <bean ref="flameEbmsPush"/>
			 <to uri="log:no.nav.kanal?level=INFO&amp;showBody=true&amp;showHeaders=true"/>
			 <to uri="mock:result"/>
		</route>
	</camelContext>

</beans>
