<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:cxf="http://camel.apache.org/schema/cxf" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd         http://camel.apache.org/schema/spring  http://camel.apache.org/schema/spring/camel-spring.xsd">

	<bean id="addIAIKAsCryptoProvider" class="no.nav.kanal.camel.AddIAIKAsCryptoProvider"/>
	
	<bean id="legalArchiver" class="no.nav.kanal.camel.DigitalPostLegalArchiver">
		<property name="eventCaller" value="caller" />
		<property name="serviceConsumer" value="consumer" />
		<property name="serviceProducer" value="producer" />
	</bean>

	<bean id="archiveResponseHandler" class="no.nav.kanal.camel.LegalArchiveResponseHandler" />

	<bean id="sendDigitalPostEnricher" class="no.nav.kanal.camel.SendDigitalPostEnricher">
		<property name="remoteDokumentsPathPrefix" value="src/test/resources/remoteFiles/" />
		<property name="localDokumentsTempPath" value="target/test/temp/" />
	</bean>


	<camelContext xmlns="http://camel.apache.org/schema/spring" trace="false">
		<jmxAgent id="jmxAgent" mbeanObjectDomainName="no.nav.kanal" usePlatformMBeanServer="true" />

		<dataFormats>
			<jaxb id="sdpkanal" prettyPrint="true" contextPath="no.difi.begrep.sdp.schema_v10:no.nav.tjeneste.virksomhet.digitalpost.senddigitalpost.v1.meldinger:no.nav.tjeneste.virksomhet.digitalpost.senddigitalpost.v1:org.unece.cefact.namespaces.standardbusinessdocumentheader:org.w3._2000._09.xmldsig_"/>
		</dataFormats>
		
		<!--  route til denne, for å arkivere data om elektronisk post  -->
		<route id="juridiskArkiv">
			<from uri="direct:archive" />
			<bean ref="legalArchiver" />
			<!--<log loggingLevel="INFO" message="&gt;&gt;&gt; ${body}" /> -->
			<to
				uri="mock:archive" />
			<!--<log loggingLevel="INFO" message="&gt;&gt;&gt; ${body}" /> -->
			<bean ref="archiveResponseHandler" />
			<to uri="mock:finalResult" />
		</route>


		<route id="testDigitalPostEnricher">
			<from uri="direct:start" />
			<!--<to uri="log:no.nav.kanal?level=INFO" /> -->
			<unmarshal ref="sdpkanal" />
			<!--<to uri="log:no.nav.kanal?level=INFO" /> -->
			<bean ref="sendDigitalPostEnricher" />
			
			<to uri="direct:archive" /><!--  route til arkivfunksjon -->
			<to uri="mock:result" />
		</route>
	</camelContext>

</beans>
